<div class="container">
  <div class="login">
    <h1>Login</h1>
    <input type="text" placeholder="Email" #email />
    <input type="password" placeholder="Password" #password />
    <button (click)="login(email.value, password.value)">Login</button>
  </div>
  <div class="signup">
    <h1>Signup</h1>
    <input type="text" placeholder="Email" #emailSignup />
    <input type="password" placeholder="Password" #passwordSignup />
    <button (click)="signup(emailSignup.value, passwordSignup.value)">Signup</button>
  </div>
</div>
