<div class="nav">
  <ul class="logo">
    <li>NewTry</li>
  </ul>
  <input type="checkbox" id="toggle" />
  <label for="toggle" class="menu-icon">
    <span class="material-symbols-outlined"> menu </span>
  </label>
  <ul class="btn">
    <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
    <li><a routerLink="/shop" routerLinkActive="active-link">Shop</a></li>
    <li><a routerLink="/cart" routerLinkActive="active-link">Cart</a></li>
    <li><a (click)="uP()" routerLinkActive="active-link">Account</a></li>
  </ul>
</div>

