<div class="shop">
    <div class="shop-head">
        <h1>Shop</h1>
    </div>
    <div class="available-products">
        <div class="top">
            <p>Fillter</p>
            <p>Short</p>
            <p>Search</p>
        </div>
        <div class="products">
            <app-product-card title="Clock" price="200" imgPath="imgs/clock.jpg"/>
            <app-product-card title="Braclet" price="350" imgPath="imgs/Braclet.jpg"/>
            <app-product-card title="Coaster" price="550" imgPath="imgs/coaster.jpg"/>
            <app-product-card title="Coaster" price="550" imgPath="imgs/coaster.jpg"/> 

            <app-product-card title="Clock" price="200" imgPath="imgs/clock.jpg"/>
            <app-product-card title="Braclet" price="350" imgPath="imgs/Braclet.jpg"/>
            <app-product-card title="Coaster" price="550" imgPath="imgs/coaster.jpg"/>
            <app-product-card title="Coaster" price="550" imgPath="imgs/coaster.jpg"/> 

            <app-product-card title="Clock" price="200" imgPath="imgs/clock.jpg"/>
            <app-product-card title="Braclet" price="350" imgPath="imgs/Braclet.jpg"/>
            <app-product-card title="Coaster" price="550" imgPath="imgs/coaster.jpg"/>
            <app-product-card title="Coaster" price="550" imgPath="imgs/coaster.jpg"/> 
        </div>
    </div>
</div>