<div class="shop">
    <div class="shop-head">
        <h1>Shop</h1>
    </div>
    <div class="available-products">
        <div class="top">
            <p>Fillter</p>
            <p>Short</p>
            <p>Search</p>
        </div>
        <div class="products">
            <app-product-card title="Book mark" price="200" imgPath="imgs/bookmark.jpg"/>
            <app-product-card title="Braclet" price="200" imgPath="imgs/Braclet.jpg"/>
            <app-product-card title="Car Hanging" price="500" imgPath="imgs/carhanging.jpg"/>
            <app-product-card title="Clock with Stand" price="2000" imgPath="imgs/clock-with-hanging-stand.jpg"/>
            <app-product-card title="Clock" price="1000" imgPath="imgs/clock.jpg"/>
            <app-product-card title="Coaster" price="500" imgPath="imgs/coaster.jpg"/>
            <app-product-card title="Earring" price="499" imgPath="imgs/earring.jpg"/>
            <app-product-card title="Earring" price="2000" imgPath="imgs/earrings.jpg"/>
            <app-product-card title="Clock" price="4000" imgPath="imgs/Frame.jpg"/>
            <app-product-card title="Clock" price="2000" imgPath="imgs/clock-with-hanging-stand.jpg"/>

            <app-product-card title="Clock" price="1000" imgPath="imgs/IMG-20250128-WA0034.jpg"/>
            <app-product-card title="Cup" price="2000" imgPath="imgs/IMG-20250128-WA0035.jpg"/>
            <app-product-card title="Earring" price="3000" imgPath="imgs/IMG-20250128-WA0036.jpg"/>
            <app-product-card title="Frame" price="4000" imgPath="imgs/IMG-20250128-WA0037.jpg"/>
            <app-product-card title="Resin" price="5000" imgPath="imgs/IMG-20250128-WA0038.jpg"/>

            <app-product-card title="Resin" price="2000" imgPath="imgs/IMG-20250303-WA0001.jpg"/>
            <app-product-card title="Jhumkha" price="499" imgPath="imgs/IMG-20250303-WA0002.jpg"/>
            <app-product-card title="Keychain" price="599" imgPath="imgs/IMG-20250303-WA0003.jpg"/>
            <app-product-card title="Chain" price="799" imgPath="imgs/IMG-20250303-WA0004.jpg"/>
            <app-product-card title="Cup" price="399" imgPath="imgs/IMG-20250303-WA0005.jpg"/>
            <app-product-card title="Frame" price="599" imgPath="imgs/IMG-20250303-WA0006.jpg"/>
            <app-product-card title="Photo Frame" price="299" imgPath="imgs/IMG-20250303-WA0007.jpg"/>
            <app-product-card title="Glowing Frame" price="199" imgPath="imgs/IMG-20250303-WA0008.jpg"/>
            <app-product-card title="Golden chain" price="699" imgPath="imgs/IMG-20250303-WA0009.jpg"/>
            <app-product-card title="Bookmark" price="899" imgPath="imgs/IMG-20250303-WA0010.jpg"/>
            <app-product-card title="Book" price="999" imgPath="imgs/IMG-20250303-WA0011.jpg"/>
            <app-product-card title="Art" price="399" imgPath="imgs/IMG-20250303-WA0012.jpg"/>
            <app-product-card title="Resin" price="299" imgPath="imgs/IMG-20250303-WA0013.jpg"/>
            <app-product-card title="Clock" price="499" imgPath="imgs/IMG-20250303-WA0014.jpg"/>
            <app-product-card title="Clock with Picture" price="299" imgPath="imgs/IMG-20250303-WA0014.jpg"/>
            <app-product-card title="Clock with Stand" price="699" imgPath="imgs/IMG-20250303-WA0016.jpg"/>
            <app-product-card title="Frame" price="499" imgPath="imgs/IMG-20250303-WA0017.jpg"/>
            <app-product-card title="Silver" price="799" imgPath="imgs/IMG-20250303-WA0018.jpg"/>
            <app-product-card title="Casting" price="700" imgPath="imgs/IMG-20250303-WA0019.jpg"/>
            <app-product-card title="Code" price="750" imgPath="imgs/IMG-20250303-WA0020.jpg"/>
            <app-product-card title="Copper" price="550" imgPath="imgs/IMG-20250303-WA0021.jpg"/>
            <app-product-card title="BurnOut" price="750" imgPath="imgs/IMG-20250303-WA0022.jpg"/>
            <app-product-card title="Braclet" price="850" imgPath="imgs/IMG-20250303-WA0023.jpg"/>
            <app-product-card title="Neckless" price="1000" imgPath="imgs/IMG-20250303-WA0024.jpg"/>
            <app-product-card title="Resin" price="2000" imgPath="imgs/IMG-20250303-WA0015.jpg"/>

        </div>
    </div>
</div>