<div class="header">
    <div class="tittle">
        <span class="banner-text"></span>
        <p>Discover unique, handcrafted resin art for your home. From elegant trays to stunning wall decor, each piece is crafted with passion.</p>
        <p>Shop now and add a touch of luxury to your space! ✨</p>
        <button type="button">Shop now</button>
    </div>
    <div class="main-img">
        <img src="imgs/earring.jpg" alt="" class="home-img">
    </div>
</div>
<div class="top-product">
    <div class="tittle">
        <h1>Top Product</h1>
    </div>
    <div class="product-card">
        <app-product-card title="Clock" price="200" imgPath="imgs/clock.jpg"/>
        <app-product-card title="Braclet" price="350" imgPath="imgs/Braclet.jpg"/>
        <app-product-card title="Coaster" price="550" imgPath="imgs/coaster.jpg"/> 
    </div>
</div>