<div class="product-page">
    <div class="top">
        <div class="big-img">
            <img [src]="product.imgPath" alt="">
        </div>
        <div class="product-details">
            <h2>{{product.title}}</h2>
            <h3>Price : {{product.price}}</h3>
            <h4>Product Description</h4>
            <span>
                <button type="button" class="btn">Buy now</button>
                <button type="button" class="btn">Add to Cart</button>
            </span>
        </div>
    </div>
    <div class="bottom">
        <div class="product-pic">

        </div>
    </div>
</div>